<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Estilos -->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/home.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/header_nav.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/footer_marquee.css' %}">
    <!-- Íconos -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.png' %}">
    <script src="https://kit.fontawesome.com/c01c9a85f3.js" crossorigin="anonymous"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <title>TME_002</title>
</head>
<body>
    {% include 'home/fixed_elements/header_nav.html' %}

    <main>
        <form method = 'POST'>
            {% csrf_token %}
            <div class="input_group">
                <input type="text" placeholder="Víctima" class = 'input_data' list = 'select_victima' name = 'victima_seleccionada'>
                <datalist id = 'select_victima'>
                    {% for item in select_victima %}
                    <option value = '{{item.víctima_id}}'>{{item.nombres}}</option>
                    {% endfor %}
                </datalist>
            </div>
            <div class="input_group">
                <input type="text" placeholder="Coordinador" class = 'input_data' list = 'select_coordinador' name = 'coodinador_seleccionado'>
                <datalist id = 'select_coordinador'>
                    {% for item in select_coordinador %}
                    <option value = '{{item.coordinador_id}}'>{{item}}</option>
                    {% endfor %}
                </datalist>
            </div>
            <div class="input_group">
                <input type="text" placeholder="Trabajador social" class = 'input_data' list = 'select_trabajador' name = 'trabajador_seleccionado'>
                <datalist id = 'select_trabajador'>
                    {% for item in select_trabajador %}
                    <option value = '{{item.trabajador_social_id}}'>{{item}}</option>
                    {%  endfor %}
                </datalist>
            </div>
            <div class="input_group">
                <input type="text" placeholder="Psicologo" class = 'input_data' list = 'select_psicologo' name = 'psicologo_seleccionado'>
                <datalist id = 'select_psicologo'>
                    {% for item in select_psicologo %}
                    <option value = '{{item.psicologo_id}}'>{{item}}</option>
                    {%  endfor %}
                </datalist>
            </div>
            <div class="input_group">
                <input type="text" placeholder="Médico" class = 'input_data' list = 'select_medico' name = 'medico_seleccionado'>
                <datalist id = 'select_medico'>
                    {% for item in select_medico %}
                    <option value = '{{item.medico_id}}'>{{item}}</option>
                    {%  endfor %}
                </datalist>
            </div>
            <button type="submit" name = 'enviar_equipo'>Asignar Equipo</button>
        </form>          
    </main>

    {% include 'home/fixed_elements/footer_marquee.html' %}
</body>
</html>